<div id="msg" class="msg">{{  message }}</div>
<ul id="myList" (click)="unColoredBox($event)" #myList>
    <ng-container *ngFor="let itemsArray of n_numberArray;index as i" >
        <li 
        *ngFor="let item of itemsArray;index as j" 
        id="{{i}}{{j}}" [attr.data-val]="item"   
        [className]="item == 0 ? 'item active' : 'item'" 
      
        [ngStyle]="{'width':n <= 10 ? '100px' : '50px','height':n <= 10 ? '100px' : '50px' }"
        
        >
        </li>
    </ng-container>
</ul>